<!DOCTYPE html>
<html lang="en" xmlns:th="">
    <head>
        <title>Nato: Sign Up</title>

        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/awesome6/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />

        <script src="http://localhost:8080/js/bootstrap.min.js"></script>
        <script src="http://localhost:8080/js/signup.js"></script>
        <script src="http://localhost:8080/js/bootstrap.bundle.min.js"></script>
    </head>
    <body style="background-color:#e7e7e7; background-image:url('/images/fons/fon_site_12.png');">

        <div class="container" style="background-color:#FFF;">

            <!-- Menu -->
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="border-bottom: 1px solid grey; margin: 0px 0 4px 0; padding:4px 0 8px 0;">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="/logo/logo-11.png" title="Pacto 5 Estrellas" style="width:88px; margin-right:10px;" />
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <th:block th:if="${user != null}">
                        <li><a href="/map" class="nav-link px-2 link-dark"><i class="fa-solid fa-map-location-dot"></i> <span th:text="#{menu.mi_mundo}">Mi mundo</span></a></li>
                    </th:block>
                    <li><a href="/la-historia" class="nav-link px-2 link-my-active"><i class="fa-solid fa-timeline"></i> <span th:text="#{menu.la_historia}">La historia</span></a></li>
                    <li><a href="/info" class="nav-link px-2 link-dark"><i class="fa-solid fa-circle-info"></i> Información</a></li>
                    <li><a href="/users" class="nav-link px-2 link-dark"><i class="fa-solid fa-users"></i> Usuarios</a></li>
                    <li><a href="/rating" class="nav-link px-2 link-dark"><i class="fa-solid fa-ranking-star"></i> Rating</a></li>
                    <li><a href="/settings" class="nav-link px-2 link-dark"><i class="fa-solid fa-gears"></i> Settings</a></li>
                    <li><a href="/contact" class="nav-link px-2 link-dark"><i class="fa-solid fa-file-signature"></i> Contactos</a></li>
                </ul>

                <!-- langs -->
                <div class="dropdown ms-auto" style="margin-right:20px;">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <th:block th:if="${#locale.language == 'en'}">
                            <img src="https://flagcdn.com/w40/gb.png" class="flag-icon" alt="EN"> English
                        </th:block>
                        <th:block th:if="${#locale.language == 'es'}">
                            <img src="https://flagcdn.com/w40/es.png" class="flag-icon" alt="ES"> Español
                        </th:block>
                        <th:block th:if="${#locale.language == 'ru'}">
                            <img src="https://flagcdn.com/w40/ru.png" class="flag-icon" alt="RU"> Русский
                        </th:block>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <th:block th:if="${#locale.language == 'en'}">
                            <li>
                                <a class="dropdown-item" href="?lang=es"><img src="https://flagcdn.com/w40/es.png" class="flag-icon" alt="ES"> Español</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?lang=ru"><img src="https://flagcdn.com/w40/ru.png" class="flag-icon" alt="RU"> Русский</a>
                            </li>
                        </th:block>
                        <th:block th:if="${#locale.language == 'es'}">
                            <li>
                                <a class="dropdown-item" href="?lang=en"><img src="https://flagcdn.com/w40/gb.png" class="flag-icon" alt="EN"> English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?lang=ru"><img src="https://flagcdn.com/w40/ru.png" class="flag-icon" alt="RU"> Русский</a>
                            </li>
                        </th:block>
                        <th:block th:if="${#locale.language == 'ru'}">
                            <li>
                                <a class="dropdown-item" href="?lang=es"><img src="https://flagcdn.com/w40/es.png" class="flag-icon" alt="ES"> Español</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="?lang=en"><img src="https://flagcdn.com/w40/gb.png" class="flag-icon" alt="EN"> English</a>
                            </li>
                        </th:block>
                    </ul>
                </div>

                <!--form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
                </form-->

                <th:block th:if="${user == null}">
                    <a href="/req/login" title="Login" style="margin-right:10px;" ><span th:text="#{login}">Login</span></a> |
                    <a href="/req/signup" title="SignUp" class="link-my-active" style="margin-left:10px;" ><span th:text="#{sign_up}">Sign Up</span></a>
                </th:block>
                <th:block th:if="${user != null}" style="margin-right:10px;">
                    <div class="dropdown text-end">
                        <a href="/profile">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                    </div>
                    <a href="/req/logout" th:text="#{exit}" >Cerrar sesión</a> <br/><br/>
                </th:block>
            </div>

            <!-- Content -->
            <div class="row">
                <div class="col-md-4">
                    <h1><span th:text="#{sign_up}">SIGN UP</span></h1>
                    <section>
                        <!--form-->
                            <div class="mb-3">
                                <label for="id_username" class="form-label"><span th:text="#{username}">Username</span></label>
                                <input name="username" type="text" class="form-control" id="id_username" placeholder="" value="" />
                            </div>

                            <div class="mb-3">
                                <label for="id_email" class="form-label">E-mail</label>
                                <input name="email" type="text" class="form-control" id="id_email" placeholder="" value="" />
                            </div>

                            <div class="mb-3">
                                <label for="id_password" class="form-label"><span th:text="#{password}">Password</span></label>
                                <input name="password" type="password" class="form-control" id="id_password" placeholder="" value="" />
                            </div>

                            <button type="submit" id="submit" class="btn btn-primary"><span th:text="#{sign_up}">Sign Up</span></button>

                            <br/><br/>
                            <span th:text="#{text_sign_up}">Already have an account?</span> <a href="/req/login"><span th:text="#{login}">Login</span></a>
                        <!--/form-->
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- footer -->
                    <footer class="py-5">
                        <div class="row">
                            <div class="col-6 col-md-2 mb-3">
                                <h5><span th:text="#{footer.about}">Sobre nosotros</span></h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-2"><a href="/la-historia" class="nav-link p-0 text-muted"><span th:text="#{menu.la_historia}">La historia</span></a></li>
                                    <li class="nav-item mb-2"><a href="/sobre-nosotros" class="nav-link p-0 text-muted"><span th:text="#{menu.la_empresa}">La empresa</span></a></li>
                                </ul>
                            </div>

                            <div class="col-6 col-md-2 mb-3">
                                <h5>Section</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                                </ul>
                            </div>

                            <div class="col-6 col-md-2 mb-3">
                                <h5>Section</h5>
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                                </ul>
                            </div>

                            <div class="col-md-5 offset-md-1 mb-3">
                                <form>
                                    <h5>Suscríbete a nuestro boletín</h5>
                                    <p>Resumen mensual de nuestras novedades y novedades más interesantes.</p>
                                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                        <label for="newsletter1" class="visually-hidden">Correo electronico</label>
                                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                        <button class="btn btn-primary" type="button">Suscribir</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                            <p>&copy; 2021 <a href="http://techmatrix18.com" target="_blank">TechMatrix18</a>, Inc. Todos los derechos reservados.</p>
                        </div>
                    </footer>
                </div>
            </div>

        </div>
    </body>
</html>

<script>
    const butonchick = document.getElementById('submit');
    butonchick.addEventListener('click', () => {
        const username = document.getElementById('id_username').value;
        const password = document.getElementById('id_password').value;
        const email = document.getElementById('id_email').value;
        const data = {
            username,
            password,
            email
        };

        // alert('start');

        const jsonData = JSON.stringify(data);
        fetch('/req/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
            body: jsonData
        })
        .then(response => {
            // Handling response

        });

        // alert('end!');
    });
</script>

