
.register p a:hover {
    text-decoration: underline;
    color: #a8a8a8;
}

.menu a {
    background-color: #bfcc58;
    color: #464c54;
}
.menu a:hover {
    background-color: #bfcc58;
}

button.btn-primary, input.btn.btn-primary, a.btn-primary, .btn.btn-primary {
    background-color: #bfcc58;
    border-color: #464c54;
    color: #464c54;
    border-radius:0;
}

button.btn-primary:hover, input.btn-primary, a.btn-primary:hover {
    background-color: #464c54;
    border-color: #bfcc58;
    color: #bfcc58;
    border-radius:0;
}

a, a:hover {
    color: #464c54;
}
.required:after {
    content:" *";
    color: red;
}


/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}*/
.menu {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
}
.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    #border-radius: 10px;
    transition: background 0.3s;
}

.link-my-active, .link-my-active:hover {
    color: #82910e;
}

