<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layouts/base11.html}">

<section layout:fragment="custom-content">

    <h2>Bienvenidos!</h2>

    <!-- Сообщение об успехе -->
    <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>

    <!-- Сообщение об ошибке -->
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    Users 1
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    Bases 2
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    Settings 3
                </div>
            </div>
        </div>
    </div>

</section>

</html>