<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layouts/base11.html}">

<section layout:fragment="custom-content">

    <h2><i class="fa-solid fa-truck-field-un"></i> Units</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/units/">Units</a></li>
            <li class="breadcrumb-item active" aria-current="page">Añadir nuevo unit</li>
        </ol>
    </nav>

    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-12" style="text-align:right;" >
            <!--a href="/admin/units/add" class="btn btn-primary">Añadir el unit</a-->
        </div>
    </div>

    <div class="card" >
        <div class="card-body" style="background-color:#FFF;">

            <form action="/admin/units/add" th:action="@{/admin/units/add}" th:object="${unitDto}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="id_title" class="form-label required">Titulo</label>
                    <input id="id_title" th:field="*{title}" name="title" type="text" class="form-control" placeholder="title" />
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;">Titulo errore</div>
                </div>

                <div class="mb-3">
                    <label for="id_descr" class="form-label">Descripcion</label>
                    <textarea id="id_descr" name="description" class="form-control" rows="3"></textarea>
                </div>

                <!-- Type -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label required">Typo:</label>
                            <select th:field="*{type}" class="form-control">
                                <option value="">-- Elije typo --</option>
                                <option th:each="t : ${typos}"
                                        th:value="${t}"
                                        th:text="${t}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color:red;">Ошибка</div>
                        </div>
                    </div>
                </div>

                <!-- Agua Plastic Food Iron -->
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_res_agua" class="form-label required">Agua</label>
                            <input id="id_res_agua" th:field="*{resAgua}" name="res_agua" type="number" class="form-control" placeholder="10" />
                            <div th:if="${#fields.hasErrors('resAgua')}" th:errors="*{resAgua}" style="color:red;">res agua errore</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_res_plastic" class="form-label required">Plastic</label>
                            <input id="id_res_plastic" th:field="*{resPlastic}" type="number" class="form-control" placeholder="100" />
                            <div th:if="${#fields.hasErrors('resPlastic')}" th:errors="*{resPlastic}" style="color:red;">res plastic errore</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_res_food" class="form-label required">Food</label>
                            <input id="id_res_food" th:field="*{resFood}" type="number" class="form-control" placeholder="110" />
                            <div th:if="${#fields.hasErrors('resFood')}" th:errors="*{resFood}" style="color:red;">res food errore</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_res_iron" class="form-label required">Iron</label>
                            <input id="id_res_iron" th:field="*{resIron}" type="number" class="form-control" placeholder="21" />
                            <div th:if="${#fields.hasErrors('resIron')}" th:errors="*{resIron}" style="color:red;">res iron errore</div>
                        </div>
                    </div>
                </div>

                <hr/>

                <!-- HP Armor Attack Range Speed -->
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_hp" class="form-label required">HP</label>
                            <input id="id_hp" th:field="*{hp}" type="number" class="form-control" placeholder="10" />
                            <div th:if="${#fields.hasErrors('hp')}" th:errors="*{hp}" style="color:red;">hp errore</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_armor" class="form-label required">Armor</label>
                            <input id="id_armor" th:field="*{armor}" type="number" class="form-control" placeholder="10" />
                            <div th:if="${#fields.hasErrors('armor')}" th:errors="*{armor}" style="color:red;">armor errore</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_attack" class="form-label required">Attack</label>
                            <input id="id_attack" th:field="*{attack}" type="number" class="form-control" placeholder="10" />
                            <div th:if="${#fields.hasErrors('attack')}" th:errors="*{attack}" style="color:red;">attack errore</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_range" class="form-label required">Range</label>
                            <input id="id_range" th:field="*{range}" type="number" class="form-control" placeholder="10" />
                            <div th:if="${#fields.hasErrors('range')}" th:errors="*{range}" style="color:red;">range errore</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_speed" class="form-label required">Speed</label>
                            <input id="id_speed" th:field="*{speed}" type="number" class="form-control" placeholder="10" />
                            <div th:if="${#fields.hasErrors('speed')}" th:errors="*{speed}" style="color:red;">speed errore</div>
                        </div>
                    </div>
                </div>

                <hr/>

                <!-- Nivel -->
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <!-- Select -->
                            <label class="form-label required">Nivel:</label>
                            <select th:field="*{level}" class="form-control">
                                <option value="">-- Elije nivel --</option>
                                <option th:each="level : ${niveles}"
                                        th:value="${level}"
                                        th:text="${level}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('level')}" th:errors="*{level}" style="color:red;">Ошибка</div>
                        </div>
                    </div>
                </div>

                <!-- Seconds -->
                <div class="row">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="id_training_seconds" class="form-label required">Training Seconds</label>
                            <input id="id_training_seconds" th:field="*{trainingSeconds}" type="number" class="form-control" placeholder="1000" />
                            <div th:if="${#fields.hasErrors('trainingSeconds')}" th:errors="*{trainingSeconds}" style="color:red;">Ошибка</div>
                        </div>
                    </div>
                </div>

                <!-- img -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="id_img" class="form-label required">Image (jpg/png):</label>
                            <input id="id_img" th:field="*{img}" type="file" class="form-control" />
                            <div th:if="${#fields.hasErrors('img')}" th:errors="*{img}" style="color:red;">Ошибка</div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Añadir</button>
                <a href="#" th:href="@{/admin/units/}" class="btn btn-secondary" style="margin-left:20px;"> Back</a>
            </form>

        </div>
    </div>

</section>

</html>