<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layouts/base11.html}">

<section layout:fragment="custom-content">

    <h2><i class="fa-solid fa-warehouse"></i> Bases</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/bases/">Bases</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="'Ver el base - ' + ${baseLevel.title}">Ver el base</li>
        </ol>
    </nav>

    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-12" style="text-align:right;" >
            <a th:href="@{'/admin/base-levels/edit/' + ${baseLevel.id}}" class="btn btn-primary">Editar el nivel</a>
        </div>
    </div>

    <div class="card" >
        <div class="card-body" style="background-color:#FFF;">

            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <td th:text="${baseLevel.Id}"></td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td th:text="${baseLevel.title}"></td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td th:text="${baseLevel.description}"></td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td th:text="${baseLevel.createdAt} ? ${#dates.format(baseLevel.createdAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td th:text="${baseLevel.updatedAt} ? ${#dates.format(baseLevel.updatedAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
            </table>

        </div>
    </div>

    <br/><br/>

    <div class="card">
        <div class="card-body">
            <h3><i class="fa-solid fa-landmark-flag"></i> Niveles</h3>
        </div>
    </div>

</section>

</html>