<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layouts/base11.html}">

<section layout:fragment="custom-content">

    <h2><i class="fa-solid fa-warehouse"></i> Bases</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/bases/">Bases</a></li>
            <li class="breadcrumb-item"><a th:href="@{'/admin/bases/view/' + ${base.getId()}}" th:text="'Ver el base - ' + ${base.title}">Ver el base</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar nuevo nivel</li>
        </ol>
    </nav>

    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-12" style="text-align:right;" >
            <a th:href="@{'/admin/bases/edit/' + ${base.id}}" class="btn btn-primary">Editar el base</a>
        </div>
    </div>

    <div class="card" >
        <div class="card-body" style="background-color:#FFF;">

            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <td th:text="${base.Id}"></td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td th:text="${base.title}"></td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td th:text="${base.description}"></td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td th:text="${base.createdAt} ? ${#dates.format(base.createdAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td th:text="${base.updatedAt} ? ${#dates.format(base.updatedAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
            </table>

        </div>
    </div>

    <br/><br/>

    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-12" style="text-align:right;" >
            <!--a href="/admin/bases/add" class="btn btn-primary">Añadir el base</a-->
        </div>
    </div>

    <h3><i class="fa-solid fa-landmark-flag"></i> Ver nivel <span th:text="${baseLevel.level}"></span></h3>

    <div class="card" >
        <div class="card-body" style="background-color:#FFF;">

            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <td th:text="${baseLevel.id}"></td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td th:text="${baseLevel.title}"></td>
                </tr>
                <tr>
                    <th>Descripcion</th>

                    <!-- Если есть описание -->
                    <th:block th:if="${baseLevel.description != null && baseLevel.description != ''}" >
                        <td class="text-center align-middle" th:text="${baseLevel.description}"></td>
                    </th:block>

                    <!-- Если описание пустое или null -->
                    <th:block th:if="${baseLevel.description == null || baseLevel.description == ''}" >
                        <td>-</td>
                    </th:block>
                </tr>
                <tr>
                    <th>Nivel</th>
                    <td th:text="${baseLevel.level} ?: '0'"></td>
                </tr>

                <!-- res + plus res -->
                <tr>
                    <th>Agua + plus Agua + do Agua</th>
                    <td th:text="${baseLevel.resAgua + ' + ' + baseLevel.plusResAgua + ' + ' + baseLevel.doResAgua}"></td>
                </tr>
                <tr>
                    <th>Plastic + plus Plastic</th>
                    <td th:text="${baseLevel.resPlastic + ' + ' + baseLevel.plusResPlastic + ' + ' + baseLevel.doResPlastic}"></td>
                </tr>
                <tr>
                    <th>Food + plus Food</th>
                    <td th:text="${baseLevel.resFood + ' + ' + baseLevel.plusResFood + ' + ' + baseLevel.doResFood}"></td>
                </tr>
                <tr>
                    <th>Iron + plus Iron</th>
                    <td th:text="${baseLevel.resIron + ' + ' + baseLevel.plusResIron + ' + ' + baseLevel.doResIron}"></td>
                </tr>

                <tr>
                    <th>Foto</th>
                    <td><img th:if="${img != null}" th:src="'/uploads/base-levels/'+${img}" alt="img base level" style="width:300px;" /></td>
                </tr>

                <tr>
                    <th>Seconds</th>
                    <td th:text="${baseLevel.buildSeconds}"></td>
                </tr>

                <tr>
                    <th>Created</th>
                    <td th:text="${baseLevel.createdAt} ? ${#dates.format(baseLevel.createdAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td th:text="${baseLevel.updatedAt} ? ${#dates.format(baseLevel.updatedAt, 'dd-MM-yyyy HH:mm')} : '-'"></td>
                </tr>
            </table>

        </div>
    </div>

    <a href="#" th:href="'/admin/bases/view/'+${baseId}" class="btn btn-secondary" style="margin-top:20px;"> Back</a>

    <br/><br/><br/><br/><br/>

</section>

</html>