<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nato: Mi mundo</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/awesome6/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />
</head>
<body style="background-color:#e7e7e7;">

<div class="container">

    <!-- Menu -->
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="border-bottom: 1px solid grey; margin: 0px 0 4px 0; padding:4px 0 8px 0;">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="/logo/logo-11.png" title="Pacto 5 Estrellas" style="width:88px; margin-right:10px;" />
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <th:block th:if="${user != null}">
                <li><a href="/map" class="nav-link px-2 link-my-active"><i class="fa-solid fa-map-location-dot"></i> Mi mundo</a></li>
            </th:block>
            <li><a href="/la-historia" class="nav-link px-2 link-dark"><i class="fa-solid fa-timeline"></i> La historia</a></li>
            <li><a href="/info" class="nav-link px-2 link-dark"><i class="fa-solid fa-circle-info"></i> Información</a></li>
            <li><a href="/users" class="nav-link px-2 link-dark"><i class="fa-solid fa-users"></i> Usuarios</a></li>
            <li><a href="/rating" class="nav-link px-2 link-dark"><i class="fa-solid fa-ranking-star"></i> Rating</a></li>
            <li><a href="/settings" class="nav-link px-2 link-dark"><i class="fa-solid fa-gears"></i> Settings</a></li>
            <li><a href="/contact" class="nav-link px-2 link-dark"><i class="fa-solid fa-file-signature"></i> Contactos</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
        </form>

        <th:block th:if="${user == null}">
            <a href="/req/login" title="Login" style="margin-right:10px;" >Login</a> |
            <a href="/req/signup" title="SignUp" style="margin-left:10px;" >SignUp</a>
        </th:block>
        <th:block th:if="${user != null}">
            <div class="dropdown text-end">
                <a href="/profile">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
            </div>
            <a href="/logout">Cerrar sesión</a> <br/><br/>
        </th:block>
    </div>

    <!-- Content -->
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <h1>
                <i class="fa-solid fa-map-location-dot"></i> HIERRO - [sector <span th:text="${sector}"></span>]
            </h1>
            <div>En este sector tu tienes el base Hierro</div>
            <br/>
        </div>

        <!-- Space -->
        <div class="row">
            <div class="col-md-12" style="text-align:right:"><h4 th:text="${space.title} + ', Día de la misión: ' + ${space.getDias()}">Día: 1</h4></div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-8">
                <div style="border: 4px solid #bfcc58; background-color:#FFF;">

                    <div class="row">
                        <div class="col-md-3" style="padding-left:30px;" th:text="'Agua: ' + ${space.resAgua} + '/+' + ${space.doResAgua}" >Agua: 10</div>
                        <div class="col-md-3" style="padding-left:30px;" th:text="'Plastic: ' + ${space.resPlastic} + '/+' + ${space.doResPlastic}" >Plastic: 10</div>
                        <div class="col-md-3" style="padding-left:30px;" th:text="'Food: ' + ${space.resFood} + '/+' + ${space.doResFood}" >Food: 10</div>
                        <div class="col-md-3" style="padding-left:30px;" th:text="'Iron: ' + ${space.resIron} + '/+' + ${space.doResIron}" >Iron: 10</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="border: 4px solid #bfcc58; background-color:#FFF;"><marquee style="line-height:18px;">Tu necesita construir "IT CENTRO"</marquee></div>
            </div>

            <div class="col-md-8">
                <div style="border: 4px solid #bfcc58; padding-left:20px; background-color:#bfcc58; width:280px;">RECURSOS DE LA COLONIA_</div>
            </div>
            <div class="col-md-4">
                <div style="border: 4px solid #bfcc58; padding-left:20px; background-color:#bfcc58; width:150px;">LA PISTA_</div>
            </div>
        </div>

        <!-- Info -->
        <div class="row">
            <div class="col-md-4">
                <div style="border: 4px solid #bfcc58; padding:0;">
                    <img th:if="${base.img != null}" th:src="'/uploads/bases/'+${base.img}" class="img img-fluid" alt="img base level" />
                </div>
            </div>
            <div class="col-md-8">
                <div style="border: 4px solid #bfcc58; padding:10px; background-color:#FFF;">
                    <b>Descripción:</b> </br>
                    <span th:text="${base.getDescription()}" >descrption</span> <br/><br/>

                    <b>Actual nivel:</b> <span th:text="${baseLevelCurrent.level}">1</span> </br></br>

                    <!-- siguiente nivel -->
                    <th:block th:if="${nextLevel != null}">
                        <b>Siguiente nivel:</b> <span th:text="${nextLevel.level}">1</span> </br>

                        <b style="margin-right:10px;">Necesita:</b>
                        <span th:text="'Agua: ' + ${nextLevel.getResAgua()}" style="margin-right:10px;">Agua</span>
                        <span th:text="'Comida: ' + ${nextLevel.getResFood()}" style="margin-right:10px;">Food</span>
                        <span th:text="'Plastico: ' + ${nextLevel.getResPlastic()}" style="margin-right:10px;">Plastic</span>
                        <span th:text="'Hierro: ' + ${nextLevel.getResIron()}" style="margin-right:10px;">Iron</span> <br/>

                        <b style="margin-right:10px;">Tendras plus una vez:</b>
                        <span th:text="'Agua: ' + ${nextLevel.getPlusResAgua()}" style="margin-right:10px;">plus Agua</span>
                        <span th:text="'Comida: ' + ${nextLevel.getPlusResFood()}" style="margin-right:10px;">plus Food</span>
                        <span th:text="'Plastico: ' + ${nextLevel.getPlusResPlastic()}" style="margin-right:10px;">plus Plastic</span>
                        <span th:text="'Hierro: ' + ${nextLevel.getPlusResIron()}" style="margin-right:10px;">plus Iron</span> <br/>

                        <b style="margin-right:10px;">Tendras plus cada hora:</b>
                        <span th:text="'Agua: ' + ${nextLevel.getPlusResAgua()}" style="margin-right:10px;">plus hacer Agua</span>
                        <span th:text="'Comida: ' + ${nextLevel.getPlusResFood()}" style="margin-right:10px;">plus hacer Food</span>
                        <span th:text="'Plastico: ' + ${nextLevel.getPlusResPlastic()}" style="margin-right:10px;">plus hacer Plastic</span>
                        <span th:text="'Hierro: ' + ${nextLevel.getPlusResIron()}" style="margin-right:10px;">plus hacer Iron</span> <br/>

                        <div style="margin-top:20px; margin-bottom:20px;">
                            <form th:action="@{'/map/' + ${sector} + '/bases/' + ${baseId}}" method="post" style="float:left;">
                                <button class="btn btn-primary" style="margin-right:30px; margin-left:16px; width:180px; border:0px; border-radius:0px;"><i class="fa-regular fa-hand-point-up"></i> Mejorar</button>
                            </form>
                            <a href="/map" class="btn btn-primary" style="margin-right:30px; margin-left:16px; width:180px; border:0px; border-radius:0px;"><i class="fa-solid fa-map-location-dot"></i> A mi mundo</a>
                        </div>
                    </th:block>
                    <th:block th:if="${nextLevel == null}">
                        <div style="margin-top:20px;">
                            <div style="padding-top:6px; float:left;">No tiene el nivel siguiente</div>
                            <a href="/map" class="btn btn-primary" style="margin-right:30px; margin-left:16px; width:180px; border:0px; border-radius:0px;"><i class="fa-solid fa-map-location-dot"></i> A mi mundo</a>
                        </div>
                    </th:block>

                    <!-- anterior nivel -->
                    <!--b>Anterior nivel:</b> 0 </br>

                    <form th:action="@{'/map/' + ${sector} + '/bases/' + ${baseId}}" method="post" style="margin-top:20px; margin-bottom:20px;">
                        <input type="submit" class="btn btn-primary" value="Mejorar" style="margin-right:30px; margin-left:20px; width:180px; border:0px; border-radius:0px;" />
                    </form-->

                    <br/><br/>
                </div>
                <div style="border: 4px solid #bfcc58; background-color:#bfcc58; padding-left:20px; width:240px;">INFORMACIÓN_</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="border: 4px solid #bfcc58; background-color:#bfcc58; padding-left:20px; width:240px;">MONITOR DE BASE_</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>

        <!--div class="col-md-12">
            <div th:each="base : ${bases}" style="margin-bottom:20px; padding:10px; background-color:#FFF;" >
                <div class="row">
                    <div class="col-md-2">
                        <img th:if="${base.img != null}" th:src="'/uploads/bases/'+${base.img}" class="img img-fluid" alt="img base level"  />
                    </div>
                    <div class="col-md-10">
                        <a href="#" th:href="@{'/map/' + ${sector} + '/bases/' + ${base.id}}" th:text="${base.title}">Title</a>
                        <br/>
                        <div th:text="${base.description}"></div>
                        <br/>
                        <a href="#" th:href="@{'/map/' + ${sector} + '/bases/' + ${base.id}}" class="btn btn-primary">Las detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <a href="#" th:href="@{'/map'}" >Devolver a mi mundo</a>
            </div>
        </div-->
    </div>
</div>

