<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nato: Mi mundo</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/awesome6/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body style="background-color:#e7e7e7; background-image:url('/images/fons/fon_site_12.png');" >

<div class="container" style="background-color:#FFF;">

    <!-- Menu -->
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="border-bottom: 1px solid grey; margin: 0px 0 4px 0; padding:4px 0 8px 0;">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="/logo/logo-11.png" title="Pacto 5 Estrellas" style="width:88px; margin-right:10px;" />
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <th:block th:if="${user != null}">
                <li><a href="/map" class="nav-link px-2 link-my-active"><i class="fa-solid fa-map-location-dot"></i> Mi mundo</a></li>
            </th:block>
            <li><a href="/la-historia" class="nav-link px-2 link-dark"><i class="fa-solid fa-timeline"></i> La historia</a></li>
            <li><a href="/info" class="nav-link px-2 link-dark"><i class="fa-solid fa-circle-info"></i> Información</a></li>
            <li><a href="/users" class="nav-link px-2 link-dark"><i class="fa-solid fa-users"></i> Usuarios</a></li>
            <li><a href="/rating" class="nav-link px-2 link-dark"><i class="fa-solid fa-ranking-star"></i> Rating</a></li>
            <li><a href="/settings" class="nav-link px-2 link-dark"><i class="fa-solid fa-gears"></i> Settings</a></li>
            <li><a href="/contact" class="nav-link px-2 link-dark"><i class="fa-solid fa-file-signature"></i> Contactos</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
        </form>

        <th:block th:if="${user == null}">
            <a href="/req/login" title="Login" style="margin-right:10px;" >Login</a> |
            <a href="/req/signup" title="SignUp" style="margin-left:10px;" >SignUp</a>
        </th:block>
        <th:block th:if="${user != null}">
            <div class="dropdown text-end">
                <a href="/profile">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
            </div>
            <a href="/req/logout">Cerrar sesión</a> <br/><br/>
        </th:block>
    </div>

    <!-- Content -->
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <h1>
                <i class="fa-solid fa-map-location-dot"></i> Laboratoria - [sector <span th:text="${sector}"></span>]
            </h1>
            <div>En este sector tu tienes el base BioLaboratoria</div>
            <br/>
        </div>

        <!-- Space -->
        <div class="row">
            <div class="col-md-12" style="text-align:right:"><h4 th:text="${space.title} + ', Día de la misión: ' + ${space.getDias()}">Día: 1</h4></div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-8">
                <div style="border: 4px solid #bfcc58; background-color:#FFF;">

                    <div class="row">
                        <div class="col-md-3" style="padding-left:30px;" th:text="'Agua: ' + ${space.resAgua} + '/+' + ${space.doResAgua}" >Agua: 10</div>
                        <div class="col-md-3" style="padding-left:30px;" th:text="'Plastic: ' + ${space.resPlastic} + '/+' + ${space.doResPlastic}" >Plastic: 10</div>
                        <div class="col-md-3" style="padding-left:30px;" th:text="'Food: ' + ${space.resFood} + '/+' + ${space.doResFood}" >Food: 10</div>
                        <div class="col-md-3" style="padding-left:30px;" th:text="'Iron: ' + ${space.resIron} + '/+' + ${space.doResIron}" >Iron: 10</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="border: 4px solid #bfcc58; background-color:#FFF;"><marquee style="line-height:18px;">Tu necesita construir "IT CENTRO"</marquee></div>
            </div>

            <div class="col-md-8">
                <div style="border: 4px solid #bfcc58; padding-left:20px; background-color:#bfcc58; width:280px;">RECURSOS DE LA COLONIA_</div>
            </div>
            <div class="col-md-4">
                <div style="border: 4px solid #bfcc58; padding-left:20px; background-color:#bfcc58; width:150px;">LA PISTA_</div>
            </div>
        </div>

        <!-- Info -->
        <div class="row">
            <div class="col-md-4">
                <div style="border: 4px solid #bfcc58; padding:0;">
                    <img th:if="${base.img != null}" th:src="'/uploads/bases/'+${base.img}" class="img img-fluid" alt="img base level" />
                </div>
            </div>
            <div class="col-md-8">
                <div style="border: 4px solid #bfcc58; padding:10px; background-color:#FFF;">
                    <b>Descripción:</b> </br>
                    <span th:text="${base.getDescription()}" >descrption</span> <br/><br/>

                    <b>Actual nivel:</b> <span th:text="${baseLevelCurrent.level}">1</span> </br></br>

                    <!-- siguiente nivel -->
                    <th:block th:if="${nextLevel != null}">
                        <b>Siguiente nivel:</b> <span th:text="${nextLevel.level}">1</span> </br>

                        <b style="margin-right:10px;">Necesita:</b>
                        <!-- agua -->
                        <th:block th:if="${is_has_agua == true}">
                            <span style="margin-right:20px; color:green;" th:text="'Agua: ' + ${nextLevel.resAgua}">Agua: 1</span>
                        </th:block>
                        <th:block th:if="${is_has_agua == false}">
                            <span style="margin-right:20px; color:red;" th:text="'Agua: ' + ${nextLevel.resAgua}">Agua: 1</span>
                        </th:block>

                        <!-- plastic -->
                        <th:block th:if="${is_has_plastic == true}">
                            <span style="margin-right:20px; color:green;" th:text="'Plastico: ' + ${nextLevel.resPlastic}">Plastico: 1</span>
                        </th:block>
                        <th:block th:if="${is_has_plastic == false}">
                            <span style="margin-right:20px; color:red;" th:text="'Plastico: ' + ${nextLevel.resPlastic}">Plastico: 1</span>
                        </th:block>

                        <!-- food -->
                        <th:block th:if="${is_has_food == true}">
                            <span style="margin-right:20px; color:green;" th:text="'Food: ' + ${nextLevel.resFood}">Food: 1</span>
                        </th:block>
                        <th:block th:if="${is_has_food == false}">
                            <span style="margin-right:20px; color:red;" th:text="'Food: ' + ${nextLevel.resFood}">Food: 1</span>
                        </th:block>

                        <!-- iron -->
                        <th:block th:if="${is_has_iron == true}">
                            <span style="margin-right:20px; color:green;" th:text="'Iron: ' + ${nextLevel.resIron}">Iron: 1</span>
                        </th:block>
                        <th:block th:if="${is_has_iron == false}">
                            <span style="margin-right:20px; color:red;" th:text="'Iron: ' + ${nextLevel.resIron}">Iron: 1</span>
                        </th:block>

                        <br/>

                        <b style="margin-right:10px;">Tendras plus una vez:</b>
                        <span th:text="'Agua: ' + ${nextLevel.getPlusResAgua()}" style="margin-right:10px;">plus Agua</span>
                        <span th:text="'Comida: ' + ${nextLevel.getPlusResFood()}" style="margin-right:10px;">plus Food</span>
                        <span th:text="'Plastico: ' + ${nextLevel.getPlusResPlastic()}" style="margin-right:10px;">plus Plastic</span>
                        <span th:text="'Hierro: ' + ${nextLevel.getPlusResIron()}" style="margin-right:10px;">plus Iron</span> <br/>

                        <b style="margin-right:10px;">Tendras plus cada hora:</b>
                        <span th:text="'Agua: ' + ${nextLevel.getDoResAgua()}" style="margin-right:10px;">plus hacer Agua</span>
                        <span th:text="'Comida: ' + ${nextLevel.getDoResFood()}" style="margin-right:10px;">plus hacer Food</span>
                        <span th:text="'Plastico: ' + ${nextLevel.getDoResPlastic()}" style="margin-right:10px;">plus hacer Plastic</span>
                        <span th:text="'Hierro: ' + ${nextLevel.getDoResIron()}" style="margin-right:10px;">plus hacer Iron</span> <br/>

                    </th:block>
                    <th:block th:if="${nextLevel == null}">
                        <div style="margin-top:20px;">
                            <div style="padding-top:6px; float:left;">No tiene el nivel siguiente</div>
                        </div>
                    </th:block>

                    <div style="margin-top:20px; margin-bottom:20px;">
                        <form th:action="@{'/map/' + ${sector} + '/bases/' + ${baseId}}" method="post" style="float:left;">
                            <th:block th:if="${is_has_agua == true && is_has_plastic == true && is_has_food == true && is_has_iron == true}">
                                <button class="btn btn-primary" style="margin-right:30px; margin-left:16px; width:180px; border:0px; border-radius:0px;"><i class="fa-regular fa-hand-point-up"></i> Mejorar</button>
                            </th:block>
                            <th:block th:if="${is_has_agua == false || is_has_plastic == false || is_has_food == false || is_has_iron == false}">
                                <button class="btn btn-primary" disabled="disabled" style="margin-right:30px; margin-left:16px; width:180px; border:0px; border-radius:0px;"><i class="fa-regular fa-hand-point-up"></i> Mejorar</button>
                            </th:block>
                        </form>
                        <a href="/ti-centro" class="btn btn-primary" style="margin-right:30px; margin-left:16px; width:180px; border:0px; border-radius:0px;"><i class="fa-solid fa-map-location-dot"></i> A TI-Centro</a>
                        <a href="/map" class="btn btn-primary" style="margin-right:30px; margin-left:16px; width:180px; border:0px; border-radius:0px;"><i class="fa-solid fa-map-location-dot"></i> A mi mundo</a>
                    </div>

                    <!-- anterior nivel -->
                    <!--b>Anterior nivel:</b> 0 </br>

                    <form th:action="@{'/map/' + ${sector} + '/bases/' + ${baseId}}" method="post" style="margin-top:20px; margin-bottom:20px;">
                        <input type="submit" class="btn btn-primary" value="Mejorar" style="margin-right:30px; margin-left:20px; width:180px; border:0px; border-radius:0px;" />
                    </form-->

                    <br/><br/>
                </div>
                <div style="border: 4px solid #bfcc58; background-color:#bfcc58; padding-left:20px; width:240px;">INFORMACIÓN_</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="border: 4px solid #bfcc58; background-color:#bfcc58; padding-left:20px; width:240px;">MONITOR DE BASE_</div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div style="border: 4px solid #bfcc58; padding:10px; background-color:#FFF;">
                    <div class="row">

                        <th:block th:each="u : ${units}">
                            <div class="col-md-2">
                                <th:block th:if="${u.level > baseLevelCurrent.level}" > <!-- nivel menor -->
                                    <div style="position: relative; display: inline-block; margin-bottom:10px;">
                                        <img th:src="'/images/personajes/' + ${u.img}" class="img img-fluid" th:title="${u.title}" />
                                        <div style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#bfcc58; opacity:0.6; "></div>
                                    </div>
                                </th:block>

                                <th:block th:if="${u.level <= baseLevelCurrent.level}" > <!-- nivel bien -->
                                    <a th:href="@{'/unit-training/'+${sector}+'/'+${baseId}+'/'+${u.id}}" th:onclick="'s_training('+ ${u.id} +'); return false;'" >
                                        <img th:src="'/images/personajes/' + ${u.img}" class="img img-fluid" th:title="${u.title}" style="margin-bottom:10px;" />
                                    </a>
                                </th:block>
                            </div>
                            <div class="col-md-10 p-0" style="margin-bottom:10px;">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h5 th:text="${u.title}">Title</h5>
                                        <b>Agua:</b> <span th:text="${u.resAgua}">1</span>
                                        <b>Plastic:</b> <span th:text="${u.resPlastic}">1</span>
                                        <b>Food:</b> <span th:text="${u.resFood}">1</span>
                                        <b>Iron:</b> <span th:text="${u.resIron}">1</span>
                                        <b>Nivel:</b> <span th:text="${u.level}">1</span>
                                        </br>
                                        <b>HP:</b> <span th:text="${u.hp}">1</span>
                                        <b>Armor:</b> <span th:text="${u.armor}">1</span>
                                        <b>Attack:</b> <span th:text="${u.attack}">1</span>
                                        <b>Range:</b> <span th:text="${u.range}">1</span>
                                        <b>Speed:</b> <span th:text="${u.speed}">1</span>
                                        <b>Nivel:</b> <span th:text="${u.level}">1</span>
                                        </br>
                                        <!--strong>Класс:</strong> Боевая поддержка </br-->
                                        <a href="#" th:onclick="'show_detail(' + ${u.id} + '); return false;'">Más detalles</a>
                                    </div>

                                    <th:block th:if="${u.level > baseLevelCurrent.level}" > <!-- nivel menor -->
                                        <div class="text-center col-md-3 d-flex align-items-center">
                                            <div>Hay que nivel <b th:text="${u.level}">1</b> </div>
                                        </div>
                                    </th:block>

                                    <th:block th:if="${u.level <= baseLevelCurrent.level}" > <!-- nivel bien -->
                                        <div class="text-center col-md-3 d-flex align-items-center">
                                            <a th:href="@{'/unit-training/' + ${sector} + '/' + ${baseId} + '/' + ${u.id}}" th:onclick="'s_training('+ ${u.id} +'); return false;'" class="btn btn-primary" ><i class="fa-solid fa-hand-fist"></i> Training unit</a>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div th:id="'id_'+${u.id}" style="display:none;"> <br/>
                                            <div th:text="${u.description}"></div> <br/><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>

                            <!--
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Android KT-9 Old</h5>
                                    <b>Agua:</b> 1  <b>Plastic:</b> 3  <b>Food:</b> 0  <b>Iron:</b> 10  <b>Nivel:</b> 1</br>
                                    <strong>Класс:</strong> Боевая поддержка </br>
                                    <a href="#" onclick="show_detail(1); return false;">Más detalles</a>
                                </div>
                                <div class="text-center col-md-3 d-flex align-items-center">
                                    <a href="/" onclick="training(1); return false;" class="btn btn-primary" ><i class="fa-solid fa-hand-fist"></i> Training unit</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="id_1" style="display:none;"> <br/>
                                        <strong>Producción:</strong> BioLaboratoria</br>
                                        <strong>⚙ Generación:</strong> КТ-9 Old (obsoleto) </br>
                                        <strong>📜 Descripción:</strong> <br/>
                                        Модель KT-9 Old — это одна из первых версий тактических штурмовых
                                        андроидов, созданных для военных операций в условиях низкой гравитации и полной автономии.
                                        Несмотря на возраст, KT-9 Old до сих пор активно используется на вторичных линиях фронта
                                        против инопланетян, благодаря своей надёжности, устойчивости и низкому энергопотреблению. <br/><br/>

                                        <strong>El modelo está equipado con: </strong> <br/>
                                        Одиночным импульсным лазером с ручным наведением; <br/>
                                        Механическим гиростабилизатором, устойчивым к лунотрясениям; <br/>
                                        Усиленной броней, но ограниченной подвижностью. </br><br/>

                                        <strong>Características: </strong> <br/>
                                        <strong>HP</strong> Среднее (выше пехоты) <br/>
                                        <strong>Armadura</strong> Высокая (поглощает до 40% урона) <br/>
                                        <strong>Velocidad</strong> Низкая <br/>
                                        <strong>Arma</strong> Импульсный лазер (средняя дальность) <br/>
                                        <strong>Peculiaridades</strong> Не подвержен панике, не подвержен яду <br/>
                                        <strong>Defectos</strong> Уязвим к EMP и пси-атакам <br/><br/>

                                        <strong>💬 Cita de la base de datos:</strong> <br/>
                                        "Он может и старый, но с ним лучше не спорить.
                                        KT-9 Old не задаёт вопросов, он просто исполняет протокол." <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="#" onclick="training(2); return false;">
                                <img src="/images/personajes/kt-9-1.jpg" class="img img-fluid" title="KT-9" style="margin-bottom:10px;" />
                            </a>
                        </div>
                        <div class="col-md-10 p-0" style="margin-bottom:10px;">

                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Android KT-9</h5>
                                    <b>Agua:</b> 1  <b>Plastic:</b> 6  <b>Food:</b> 0  <b>Iron:</b> 12  <b>Nivel:</b> 3</br>
                                    <strong>Класс:</strong> Боевая поддержка и атака </br>
                                    <a href="#" onclick="show_detail(2); return false;">Más detalles</a>
                                </div>
                                <div class="text-center col-md-3 d-flex align-items-center">
                                    <a href="/" onclick="training(1); return false;" class="btn btn-primary" ><i class="fa-solid fa-hand-fist"></i> Training unit</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="id_2" style="display:none;"> <br/>
                                        <strong>Producción:</strong> BioLaboratoria</br>
                                        <strong>⚙ Generación:</strong> КТ-9</br>
                                        <strong>📜 Descripción:</strong> <br/>
                                        Модель KT-9 — это усовершенствованная версий тактических штурмовых
                                        андроидов, созданных для военных операций в условиях низкой гравитации и полной автономии.
                                        Эта улучшенная версия KT-9 прекрасно зарекомендовала себя в первых и вторых линях фронта как атаки так и защиты
                                        против инопланетян, благодаря своей улучшенной надёжности, более сильной атаке, устойчивости и низкому энергопотреблению. <br/><br/>

                                        <strong>El modelo está equipado con: </strong> <br/>
                                        Улучшенным одиночным импульсным лазером с ручным наведением; <br/>
                                        Механическим гиростабилизатором, устойчивым к лунотрясениям; <br/>
                                        Усиленной броней и улучшенной подвижностью при атаке. </br><br/>

                                        <strong>Características: </strong> <br/>
                                        <strong>HP</strong> Среднее (выше пехоты) <br/>
                                        <strong>Armadura</strong> Высокая (поглощает до 45% урона) <br/>
                                        <strong>Velocidad</strong> Средняя <br/>
                                        <strong>Arma</strong> Импульсный лазер (средняя дальность) <br/>
                                        <strong>Peculiaridades</strong> Не подвержен панике, не подвержен яду <br/>
                                        <strong>Defectos</strong> Уязвим к EMP и пси-атакам <br/><br/>

                                        <strong>💬 Cita de la base de datos:</strong> <br/>
                                        "Он лучше своей предыдущей версии, поэтому с ним лучше не спорить.
                                        KT-9 не задаёт вопросов, он просто исполняет протокол быстрее и точнее." <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                                <div style="position: relative; display: inline-block; margin-bottom:10px;">
                                    <img src="/images/personajes/tesla.jpg" class="img img-fluid" title="Tesla" />
                                    <div style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#bfcc58; opacity:0.6; "></div>
                                </div>
                        </div>
                        <div class="col-md-10 p-0" style="margin-bottom:10px;">

                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Tesla</h5>
                                    <b>Agua:</b> 2  <b>Plastic:</b> 8  <b>Food:</b> 0  <b>Iron:</b> 14  <b>Nivel:</b> 5</br>
                                    <strong>Класс:</strong> Боевая атака </br>
                                    <a href="#" onclick="show_detail(3); return false;">Más detalles</a>
                                </div>
                                <div class="text-center col-md-3 d-flex align-items-center">
                                    <div>Hay que nivel 5</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="id_3" style="display:none;"> <br/>
                                        <strong>Producción:</strong> BioLaboratoria</br>
                                        <strong>⚙️Generación:</strong> Tesla</br>
                                        <strong>📜 Descripción:</strong> <br/>
                                        Робот Tesla — это высокотехнологичная ударная платформа ближне-среднего радиуса действия, разработанная для молниеносных атак по приоритетным целям. Его главный инструмент — плечевой плазменный излучатель Tesla, способный пробивать энергощиты и вызывать короткие замыкания в боевых системах противника.<br/><br/>
                                        Tesla продвигается медленно, но каждая его атака — разрушительная и точная. Специализируется на уничтожении высокозащищённых целей и техники, особенно эффективно работает против инопланетных механоидов и киберфауны. <br/><br/>

                                        <strong>El modelo está equipado con: </strong> <br/>
                                        Одиночным импульсным лазером с ручным наведением; <br/>
                                        Механическим гиростабилизатором, устойчивым к лунотрясениям; <br/>
                                        Усиленной броней, но ограниченной подвижностью. </br><br/>

                                        <strong>Características: </strong> <br/>
                                        <strong>HP</strong> Высокое<br/>
                                        <strong>Armadura</strong> Средняя<br/>
                                        <strong>Velocidad</strong> Низкая <br/>
                                        <strong>Arma</strong> Электро-импульсная, мощная<br/>
                                        <strong>Peculiaridades</strong> Идеален как бронебойная поддержка. Не подвержен панике, не подвержен яду <br/>
                                        <strong>Defectos</strong> Требует прикрытия — уязвим к быстрым юнитам <br/><br/>

                                        <strong>💬 Cita de la base de datos:</strong> <br/>
                                        "Когда Tesla выходит на линию огня — враги не бегут. Они отключаются." <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                                <div style="position: relative; display: inline-block; margin-bottom:10px;">
                                    <img src="/images/personajes/espinaje.jpg" class="img img-fluid" title="Tesla" />
                                    <div style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#bfcc58; opacity:0.6; "></div>
                                </div>
                        </div>
                        <div class="col-md-10 p-0" style="margin-bottom:10px;">

                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Espía</h5>
                                    <b>Agua:</b> 10  <b>Plastic:</b> 1  <b>Food:</b> 12  <b>Iron:</b> 1  <b>Nivel:</b> 5</br>
                                    <strong>Класс:</strong> El espía astuto </br>
                                    <a href="#" onclick="show_detail(4); return false;">Más detalles</a>
                                </div>
                                <div class="text-center col-md-3 d-flex align-items-center">
                                    <div>Hay que nivel 5</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="id_4" style="display:none;"> <br/>
                                        <strong>Producción:</strong> BioLaboratoria</br>
                                        <strong>⚙ Generación:</strong> Незаметный агент</br>
                                        <strong>📜 Descripción:</strong> <br/>
                                        Espía — это лёгкий автономный робот-шпион, специально разработанный для глубокого проникновения на территорию инопланетян. Оснащён системой активной маскировки, модулями подавления сканеров и интеллектуальным ПО для анализа боевых паттернов врага. <br/><br/>
                                        Espía не вступает в бой напрямую, но его ценность на поле боя невозможно переоценить. Он обнаруживает скрытые отряды пришельцев, открывает "туман войны", помечает уязвимые цели и перехватывает тактическую телепатию враждебных псиоников. <br/><br/>

                                        <strong>El modelo está equipado con: </strong> <br/>
                                        Проникает на территорию противника без обнаружения; <br/>
                                        Обнаруживает засады, укрытия, приоритетные цели; <br/>
                                        Повышает точность союзников за счёт точных координат. </br><br/>

                                        <strong>Características: </strong> <br/>
                                        <strong>HP</strong> Низкое <br/>
                                        <strong>Armadura</strong> Очень низкое <br/>
                                        <strong>Velocidad</strong> Высокая <br/>
                                        <strong>Arma</strong> Невидимость, обнаружение врагов, передача координат <br/>
                                        <strong>Peculiaridades</strong> Особенно эффективен против инопланетян, использующих маскировку и пси-защиту. <br/>
                                        <strong>Defectos</strong> Уязвим к EMP и пси-атакам <br/><br/>

                                        <strong>💬 Cita de la base de datos:</strong> <br/>
                                        "Его никто не слышит. Его никто не видит. Но именно он первым узнаёт, где будет бой." <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <div style="border: 4px solid #bfcc58; background-color:#bfcc58; padding-left:20px; width:240px;">EXPONATOS_</div>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-md-12">

                <div th:each="baseLevel : ${baseLevels}" style="margin-bottom:20px;" >
                    <th:block th:if="${baseLevelCurrent.level == baseLevel.level}" >
                        <div class="row" style="border: 4px solid #bfcc58; padding:10px; background-color:#FFF; margin-left:50px;">
                            <div class="col-md-1">
                                <img th:if="${baseLevel.img != null}" th:src="'/uploads/base-levels/'+${baseLevel.img}" alt="img base level" style="width:100px;" />
                            </div>
                            <div class="col-md-11">
                                <h4 th:text="${baseLevel.title}"></h4>
                                <div th:text="${baseLevel.description}"></div>
                                <!-- res para nivel -->
                                <div>Para este nivel necesita:</div>
                                <span style="margin-right:20px;" th:text="'Agua: ' + ${baseLevel.resAgua}">Agua: 1</span>
                                <span style="margin-right:20px;" th:text="'Plastico: ' + ${baseLevel.resPlastic}">Plastico: 1</span>
                                <span style="margin-right:20px;" th:text="'Food: ' + ${baseLevel.resFood}">Food: 1</span>
                                <span style="margin-right:20px;" th:text="'Iron: ' + ${baseLevel.resIron}">Iron: 1</span>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${baseLevelCurrent.level != baseLevel.level}" >
                        <div class="row" style="padding:10px; background-color:#FFF; margin-left:50px;">
                            <div class="col-md-1">
                                <img th:if="${baseLevel.img != null}" th:src="'/uploads/base-levels/'+${baseLevel.img}" alt="img base level" style="width:100px;" />
                            </div>
                            <div class="col-md-11">
                                <h4 th:text="${baseLevel.title}"></h4>
                                <div th:text="${baseLevel.description}"></div>
                                <!-- res para nivel -->
                                <div>Para este nivel necesita:</div>
                                <span style="margin-right:20px;" th:text="'Agua: ' + ${baseLevel.resAgua}">Agua: 1</span>
                                <span style="margin-right:20px;" th:text="'Plastico: ' + ${baseLevel.resPlastic}">Plastico: 1</span>
                                <span style="margin-right:20px;" th:text="'Food: ' + ${baseLevel.resFood}">Food: 1</span>
                                <span style="margin-right:20px;" th:text="'Iron: ' + ${baseLevel.resIron}">Iron: 1</span>
                            </div>
                        </div>
                    </th:block>
                </div>

                <!--div class="col-md-12">
                    <a href="#" th:href="@{'/map'}" >Devolver a mi mundo</a>
                </div-->

                <br/><br/><br/><br/><br/>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>

        <!--div class="col-md-12">
            <div th:each="base : ${bases}" style="margin-bottom:20px; padding:10px; background-color:#FFF;" >
                <div class="row">
                    <div class="col-md-2">
                        <img th:if="${base.img != null}" th:src="'/uploads/bases/'+${base.img}" class="img img-fluid" alt="img base level"  />
                    </div>
                    <div class="col-md-10">
                        <a href="#" th:href="@{'/map/' + ${sector} + '/bases/' + ${base.id}}" th:text="${base.title}">Title</a>
                        <br/>
                        <div th:text="${base.description}"></div>
                        <br/>
                        <a href="#" th:href="@{'/map/' + ${sector} + '/bases/' + ${base.id}}" class="btn btn-primary">Las detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <a href="#" th:href="@{'/map'}" >Devolver a mi mundo</a>
            </div>
        </div-->
    </div>
</div>

<script>
    function show_detail(id) {
        var el = document.getElementById('id_' + id);
        if (el.style.display === 'none' || el.style.display === '') {
            el.style.display = 'block';
        } else {
            el.style.display = 'none';
        }
        return false;
    }

    function training(id) {
        //var el = document.getElementById('id_sold_' + id);

        alert('Entrenar una unidad!');

        return false;
    }
</script>

