<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layouts/base11.html}">

<section layout:fragment="custom-content">

    <h2><i class="fa-solid fa-warehouse"></i> Bases</h2>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/bases/">Bases</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="'Editar el base - ' + ${base.title}">Editar el base</li>
        </ol>
    </nav>

    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-12" style="text-align:right;" >
            <!--a href="/admin/bases/add" class="btn btn-primary">Añadir el base</a-->
        </div>
    </div>

    <div class="card" >
        <div class="card-body" style="background-color:#FFF;">

            <form th:action="@{/admin/bases/edit/{baseId}(baseId=${base.id})}" method="post" th:object="${base}" enctype="multipart/form-data">

                <input type="hidden" name="id" th:value="${base.Id}" />

                <div class="mb-3">
                    <label for="id_title" class="form-label required">Titulo</label>
                    <input id="id_title" type="text" th:field="*{title}" class="form-control" placeholder="title">
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;">Title error</span>
                </div>

                <div class="mb-3">
                    <label for="id_descr" class="form-label">Descripcion</label>
                    <textarea id="id_descr" name="description" th:field="*{description}" class="form-control" rows="3"></textarea>
                </div>

                <!-- img -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <img th:if="${base.img != null}" th:src="'/uploads/bases/'+${base.img}" alt="img base level" style="width:300px;" />
                            <br/><br/>
                            <label for="id_img" class="form-label">Image</label>
                            <input id="id_img" th:field="*{img}" type="file" class="form-control" />
                            <div th:if="${#fields.hasErrors('img')}" th:errors="*{img}" style="color:red;">Ошибка</div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Editar</button>
                <a href="#" th:href="@{/admin/bases/}" class="btn btn-secondary" style="margin-left:20px;"> Back</a>
            </form>

        </div>
    </div>

</section>

</html>