<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layouts/base11.html}">

    <section layout:fragment="custom-content">

        <h2><i class="fa-solid fa-warehouse"></i> Bases</h2>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/home/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bases</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-md-12" style="text-align:left;" >
                La lista de los bases de datos))
            </div>
        </div>

        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12" style="text-align:right;" >
                <a href="/admin/bases/add" class="btn btn-primary">Añadir el base</a>
            </div>
        </div>

        <!-- Сообщение об успехе -->
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>

        <!-- Сообщение об ошибке -->
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <div class="card" >
            <div class="card-body" style="background-color:#FFF;">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:50px;">ID</th>
                            <th>Titulo</th>
                            <th class="text-center">Niveles</th>
                            <th class="text-center">Imagene</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="base : ${bases}">
                            <td class="text-center align-middle" style="width:30px;" th:text="${base.Id}">Id</td>
                            <td class="align-middle">
                                <a href="#" th:href="@{'/admin/bases/view/' + ${base.id}}" th:text="${base.title}">Title</a>
                            </td>
                            <td class="text-center align-middle">
                                <th:block th:if="${base != null}">
                                    <th:block th:if="${base.baseLevels != null}">
                                        <span th:text="${base.baseLevels != null ? base.baseLevels.size() : 0}"></span>
                                    </th:block>
                                </th:block>
                            </td>

                            <!-- img -->
                            <td class="text-center align-middle">
                                <img th:if="${base.img != null}" th:src="'/uploads/bases/'+${base.img}" alt="img base level" style="width:100px;" />
                            </td>

                            <td class="text-center align-middle" style="width:250px;">
                                <a href="#" th:href="@{'/admin/bases/view/' + ${base.id}}">vista</a> |
                                <a href="#" th:href="@{'/admin/bases/edit/' + ${base.id}}">editar</a> |
                                <a href="#" th:href="@{'/admin/bases/delete/' + ${base.id}}">borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </section>

</html>

