
.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    width: 1190px;
    height: 560px;
    margin: -450px 0 0 -595px;

    overflow: hidden;
    border: 4px solid #bfcc58; // #4444;
}

