<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nato: Contacto</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/awesome6/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />

    <script src="http://localhost:8080/js/bootstrap.min.js"></script>
    <script src="http://localhost:8080/js/signup.js"></script>
</head>
<body style="background-color:#e7e7e7; background-image:url('/images/fons/fon_site_12.png');">
    <div class="container" style="background-color:#FFF;">

        <!-- Menu -->
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="border-bottom: 1px solid grey; margin: 0px 0 4px 0; padding:4px 0 8px 0;">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="logo/logo-11.png" title="Pacto 5 Estrellas" style="width:88px; margin-right:10px;" />
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <th:block th:if="${user != null}">
                    <li><a href="/map" class="nav-link px-2 link-dark"><i class="fa-solid fa-map-location-dot"></i> Mi mundo</a></li>
                </th:block>
                <li><a href="/la-historia" class="nav-link px-2 link-dark"><i class="fa-solid fa-timeline"></i> La historia</a></li>
                <li><a href="/info" class="nav-link px-2 link-dark"><i class="fa-solid fa-circle-info"></i> Información</a></li>
                <li><a href="/users" class="nav-link px-2 link-dark"><i class="fa-solid fa-users"></i> Usuarios</a></li>
                <li><a href="/rating" class="nav-link px-2 link-dark"><i class="fa-solid fa-ranking-star"></i> Rating</a></li>
                <li><a href="/settings" class="nav-link px-2 link-dark"><i class="fa-solid fa-gears"></i> Settings</a></li>
                <li><a href="/contact" class="nav-link px-2 link-my-active"><i class="fa-solid fa-file-signature"></i> Contactos</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
            </form>

            <th:block th:if="${user == null}">
                <a href="/req/login" title="Login" style="margin-right:10px;" >Login</a> |
                <a href="/req/signup" title="SignUp" style="margin-left:10px;" >SignUp</a>
            </th:block>
            <th:block th:if="${user != null}">
                <div class="dropdown text-end">
                    <a href="/profile">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                </div>
                <a href="/req/logout">Cerrar sesión</a> <br/><br/>
            </th:block>
        </div>

        <!-- Content -->
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <h1><i class="fa-solid fa-file-signature"></i> Contacto</h1>
                <br/>

                <section>
                    <form th:action="@{/contact}" th:object="${contact}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="id_name" class="form-label required">Name</label>
                            <input type="text" name="name" class="form-control" id="id_name" th:field="*{name}" />
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;">Name Error</div>
                        </div>
                        <div class="mb-3">
                            <label for="id_surname" class="form-label">Surname</label>
                            <input type="text" name="surname" class="form-control" id="id_surname" th:field="*{surname}" />
                            <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color:red;">Surname Error</div>
                        </div>
                        <div class="mb-3">
                            <label for="id_email" class="form-label required">E-mail</label>
                            <input type="text" name="email" class="form-control" id="id_email" th:field="*{email}" />
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;">E-mail Error</div>
                        </div>
                        <div class="mb-3">
                            <label for="id_description" class="form-label required">Description</label>
                            <textarea name="description" rows="5" class="form-control" id="id_description" th:field="*{description}" ></textarea>
                            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red;">Description Error</div>
                        </div>
                        <div>
                            <small>Физкульт привет! </small>
                        </div>

                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <a href="#" th:href="@{/welcome}" class="btn btn-secondary" style="margin-left:20px;"> Back</a>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>