<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nato: Mi mundo</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/div.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />
</head>
<body style="background-color:#e7e7e7;">

<div class="container">

    <!-- Menu -->
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="border-bottom: 1px solid grey; margin: 4px 0 4px 0; padding:4px 0 8px 0;">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="logo/logo-11.png" title="Pacto 5 Estrellas" style="width:88px; margin-right:10px;" />
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/map" class="nav-link px-2 link-dark">Mi mundo</a></li>
            <li><a href="/la-historia" class="nav-link px-2 link-my-active">La historia</a></li>
            <li><a href="/info" class="nav-link px-2 link-dark">Información</a></li>
            <li><a href="/users" class="nav-link px-2 link-dark">Usuarios</a></li>
            <li><a href="/rating" class="nav-link px-2 link-dark">Rating</a></li>
            <li><a href="/settings" class="nav-link px-2 link-dark">Settings</a></li>
            <li><a href="/contact" class="nav-link px-2 link-dark">Contactos</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
        </form>
        <div class="dropdown text-end">
            <a href="#">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
        </div>
    </div>

    <!-- Content -->
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <h1>La historia "Pacto 5 estrellas"</h1>
            <div>¿Por qué tu estás por aqui? Puedes leer la historia y tu saberás</div>
            <br/></br>
        </div>

        <div class="col-md-12">
            <h4>Ahora 2118 año</h4>
            </br>
            <p>
                Ahora 2118. Tu eres — el Capitán de la colonia de la misión <b>"Pacto 5 estrellas"</b>, de la civilización
                humana sobreviviente de España, desarrollar la vida en la Luna, basada en un código espiritual y
                moral — El Pacto de la humanidad y la memoria de los antepasados del tercer planeta del Sol en
                la constelación de la "Vía Láctea".
            </p>
            <br/>

            <h4>Breves antecedentes</h4>
            </br>
            <p>
                Después de huir de la Tierra moribunda, destruyendo todas las principales ciudades terrenales, se le da la oportunidad de
                misión <b>"Pacto 5 estrellas"</b> — La última esperanza de supervivencia de la humanidad. La misión partió desde Madrid
                en España con la esperanza de una descendencia masculina y su continuación, con la esperanza de un heredero.
                Aunque ahora están lejos de la Tierra, pero la Tierra todavía envía señales y palabras que se escuchan en el espacio.
            </p>
            <p>
                Usted es el fundador de una colonia en la superficie de la luna cerca del cráter Copérnico. Aquí es
                donde la poderosa energía anomalía y posible extracción de los recursos básicos necesarios para la
                construcción y desarrollo de la colonia.</br>
                Necesita agua, plástico, alimentos, hierro y otros recursos y artículos relacionados.
                Empezaste desde cero - bajo la bandera del Pacto de España: Justicia, memoria, libertad y fe en el futuro.
                Es desde aquí que las mejores mentes son enviadas - y tú las mandas.
            </p>
            <p>
                En 2118, exploradores Gromozek y Alice registrados señales desconocidas desde el lado oscuro de la luna - desde el cráter
                Weber-9, durante mucho tiempo se pensó que era una zona muerta. Después de la fundación de la colonia,
                de sus profundidades vino una raza de alienígenas Sarim Nuclear Power Plants - una civilización alienígena,
                oculta durante miles de años en las capas subterráneas, en colmenas criogénicas.
                Su estructura y desarrollo diferían del humano.
            </p>
            <br/>

            <h4>Origen del Sarim Nuclear alienígena</h4>
            </br>
            <p>
                No vinieron de otra estrella del espacio - siempre estuvieron aquí, en las profundidades del lado oscuro
                de la luna, después de su antiguo desastre. Son alimentadas por las raras oscilaciones del campo
                gravitatorio de la Tierra y el Sol. No sabían de los humanos hasta que la construcción de una colonia
                humana alteró el equilibrio de la señal, despertándolos.</br>
                Comenzaron a construir su colonia y desarrollar su raza alienígena. Estos son los alienígenas típicos
                verde y con una gran cabeza. Ahora consideran a la gente como una amenaza para la estabilidad planetaria y
                Ofrecen una cosa: retirarse - o desaparecer.
            </p>
            <p>
                La gente lleva el Pacto, alma, sentimientos, amor.</br>
                Sarim Power Plants - matemáticas puras de supervivencia en la eficiencia a largo plazo.
            </p>
            <br/>

            <h4>Tu misión</h4>
            </br>
            <p>
                Usted es el capitán de una nueva colonia de la misión <b>"Pacto 5 estrellas"</b>. Su objetivo y misión es
                construir una nueva una próspera colonia para la supervivencia y continuación de la raza humana en el
                espacio con un heredero.</br>
                Su equipo le ayuda de esta manera y contribuye con sugerencias.<br/>
                Usted está dividido entre la necesidad de proteger a las personas y la realización de que el conflicto
                con la central nuclear de Sarim podría destruir permanentemente la posibilidad de un futuro pacífico.</br>
                Tú eres el capitán que se interpone entre la máquina de la razón y el corazón vivo de la humanidad.
            </p>
            <br/>

            <h4>Misión de equipo</h4>
            </br>
            <p>
                Descubre el secreto de la luna y el espacio. <br/>
                El misterio del origen de la humanidad y las razas cósmicas de otros planetas.<br/>
                Revelar el secreto de la aparición del espacio y la vida en él.
            </p>
            <br/>

            <h4>los personajes principales:</h4>
            </br>
            <p>
                <b>Alice</b> — Especialista en xenobiología y navegación cultural. Fue la primera en entrar
                en contacto con Sarim centrales nucleares y advierte que tienen inmunidad cultural contra los seres
                humanos - no perdonan errores.</br>
                Alice tiene un Milophone, que le permite escuchar los pensamientos de todos los seres cósmicos.</br></br>

                <b>Capitán Verde</b> — Ex miembro de la Fuerza Expedicionaria Unida. Veterano de guerra,
                Directo, listo para defender la colonia a toda costa. Su opinión: "Primero construimos, luego resolvemos."</br></br>

                <b>Gromozeka</b> — ingeniero mecánico y arqueólogo xenólogo. Especialista en estructuras antiguas de
                la central nuclear de Sarim. Dice: "Estas ruinas son silenciosas, pero lo dirán todo - si sabes escuchar."</br>
                Grosozeka es también profundamente religioso, considera la Luna "el lugar del Testamento de todas
                las civilizaciones, que ha visto toda vida en la tierra".
            </p>
            <br/>

            <h4>Conflicto clave</h4>
            </br>
            <p>
                Las centrales nucleares de Sarim están pidiendo que se detenga la construcción: según sus historias,
                la gente construye sobre las cenizas de sus antepasados muertos, y eso es un sacrilegio.
                Verde se ofrece a atacar y devolver el enemigo. Alice - encontrar un compromiso.
                Grosotek - para estudiar artefactos y demostrar que ambas razas vinieron de las mismas cenizas antiguas.
            </p>

            <br/><br/>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- footer -->
                <footer class="py-5">
                    <div class="row">
                        <div class="col-6 col-md-2 mb-3">
                            <h5>Sobre nosotros</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="/la-historia" class="nav-link p-0 text-muted">La historia</a></li>
                                <li class="nav-item mb-2"><a href="/sobre-nosotros" class="nav-link p-0 text-muted">La empresa</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-md-2 mb-3">
                            <h5>Section</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-md-2 mb-3">
                            <h5>Section</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                            </ul>
                        </div>

                        <div class="col-md-5 offset-md-1 mb-3">
                            <form>
                                <h5>Suscríbete a nuestro boletín</h5>
                                <p>Resumen mensual de nuestras novedades y novedades más interesantes.</p>
                                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                    <label for="newsletter1" class="visually-hidden">Correo electronico</label>
                                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                    <button class="btn btn-primary" type="button">Suscribir</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                        <p>&copy; 2021 <a href="http://techmatrix18.com" target="_blank">TechMatrix18</a>, Inc. Todos los derechos reservados.</p>
                        <ul class="list-unstyled d-flex">
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>

