<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>

        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />

        <script src="http://localhost:8080/js/bootstrap.min.js"></script>
        <script src="http://localhost:8080/js/signup.js"></script>
    </head>
    <body>
        <h1>LOGIN</h1>
        <section>
            <form action="/req/login" method="post">
                <div class="mb-3">
                    <label for="id_login" class="form-label">Login</label>
                    <input type="text" class="form-control" id="id_login">
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="id_password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </body>
</html>

