<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>

        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />

        <script src="http://localhost:8080/js/bootstrap.min.js"></script>
        <script src="http://localhost:8080/js/signup.js"></script>
    </head>
    <body>
        <h1>LOGIN</h1>

        <div>
            LOGIN
        </div>
    </body>
</html>

