<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nato: Mi mundo</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/div.css" />
</head>
<body style="background-color:#e7e7e7;">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Mi mundo</h1>
                <br/>
            </div>

            <div class="col-md-12">
                <div class="centered" style="z-index: 10; background-image:url('images/fons/fon11.png'); background-color:#cccccc; box-sizing:content-box;">
                    <div style="position:relative;">
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                    </div>
                    <div style="position:relative;">
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/8"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/all/9"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <!-- Юра иди на хуй! -->
                            <a href="/bases/all/10"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/all/11"><img src="images/bases/cero_level.png" /></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/view/12"><img src="images/bases/one_level.png" /></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/all"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/all"><div style="width:170px; height:140px;"></div></a>
                        </div>
                    </div>
                    <div style="position:relative;">
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/view/15"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/view/16"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/view/17"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/view/18"><img src="images/bases/cero_level.png" /></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/19"><img src="images/bases/cero_level.png" /></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/view/20"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/bases/view/21"><div style="width:170px; height:140px;"></div></a>
                        </div>
                    </div>
                    <div style="position:relative;">
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/22"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/23"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/24"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/25"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/26"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/27"><div style="width:170px; height:140px;"></div></a>
                        </div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <a href="/build/28"><div style="width:170px; height:140px;"></div></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

