<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nato: Profile</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/awesome6/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/div.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />
</head>
<body style="background-color:#e7e7e7;">
<div class="container">

    <!-- Menu -->
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="border-bottom: 1px solid grey; margin: 0px 0 4px 0; padding:4px 0 8px 0;">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="logo/logo-11.png" title="Pacto 5 Estrellas" style="width:88px; margin-right:10px;" />
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <th:block th:if="${user != null}">
                <li><a href="/map" class="nav-link px-2 link-dark"><i class="fa-solid fa-map-location-dot"></i> Mi mundo</a></li>
            </th:block>
            <li><a href="/la-historia" class="nav-link px-2 link-dark"><i class="fa-solid fa-timeline"></i> La historia</a></li>
            <li><a href="/info" class="nav-link px-2 link-dark"><i class="fa-solid fa-circle-info"></i> Información</a></li>
            <li><a href="/users" class="nav-link px-2 link-dark"><i class="fa-solid fa-users"></i> Usuarios</a></li>
            <li><a href="/rating" class="nav-link px-2 link-dark"><i class="fa-solid fa-ranking-star"></i> Rating</a></li>
            <li><a href="/settings" class="nav-link px-2 link-dark"><i class="fa-solid fa-gears"></i> Settings</a></li>
            <li><a href="/contact" class="nav-link px-2 link-dark"><i class="fa-solid fa-file-signature"></i> Contactos</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
        </form>

        <th:block th:if="${user == null}">
            <a href="/req/login" title="Login" style="margin-right:10px;" >Login</a> |
            <a href="/req/signup" title="SignUp" style="margin-left:10px;" >SignUp</a>
        </th:block>
        <th:block th:if="${user != null}">
            <div class="dropdown text-end">
                <a href="/profile">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
            </div>
            <a href="/logout">Cerrar sesión</a> <br/><br/>
        </th:block>
    </div>

    <!-- Content -->
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <h1>Mi perfil</h1>
            <br/>
        </div>
        <div class="col-md-12">

            <div th:text="'Usuário ID: ' + ${user.getId()}">User ID</div>
            <div th:text="'Nómbre: ' + ${user.getUsername()}">Username</div>
            <div th:text="'Móvil: ' + ${user.getMob()}">+38 098 111 2233</div>
            <div th:text="'E-mail: ' + ${user.getEmail()}">Email</div>
            <br/>

            <div th:text="'CreatedAt: ' + ${#dates.format(user.createdAt, 'dd.MM.yyyy')}">Email</div>
            <br/><br/><br/><br/><br/><br/>

        </div>
    </div>
</div>
</body>
</html>