<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>

        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />

        <script src="http://localhost:8080/js/bootstrap.min.js"></script>
        <script src="http://localhost:8080/js/signup.js"></script>
    </head>
    <body>
        <h1>SIGN UP</h1>

        <div>
            <form action="/req/registration" method="post">
                <div>
                    <label>Username</label>
                    <input name="username" placeholder="" value="" />
                </div>

                <div>
                    <label>Password</label>
                    <input name="password" placeholder="" value="" />
                </div>

                <button id="submit" type="submit">Sign Up</button>

                <br/>
                Already have an account <a href="">Log In</a>
            </form>
        </div>
    </body>
</html>

