<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>

        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />

        <script src="http://localhost:8080/js/bootstrap.min.js"></script>
        <script src="http://localhost:8080/js/signup.js"></script>
    </head>
    <body style="background-color:#e7e7e7;">
        <main>
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-4">
                        <h1>SIGN UP</h1>
                        <section>
                            <form action="/req/registration" method="post">
                                <div class="mb-3">
                                    <label for="id_username" class="form-label">Username</label>
                                    <input name="username" class="form-control" id="id_username" placeholder="" value="" />
                                </div>

                                <div class="mb-3">
                                    <label for="id_email" class="form-label">Email</label>
                                    <input name="email" class="form-control" id="id_email" placeholder="" value="" />
                                </div>

                                <div class="mb-3">
                                    <label for="id_password" class="form-label">Password</label>
                                    <input name="password" class="form-control" id="id_password" placeholder="" value="" />
                                </div>

                                <button type="submit" id="submit" class="btn btn-primary">Sign Up</button>

                                <br/><br/>
                                Already have an account? <a href="/req/login">Log In</a>
                            </form>
                        </section>
                    </div>
                </div>
                <footer class="pt-3 mt-4 text-muted border-top">© 2021</footer>
            </div>
        </main>
    </body>
</html>
<script>
    const butonchick = document.getElementById('submit');
    butonchick.addEventListener('click', () => {
        const username = document.getElementById('id_username').value;
        const password = document.getElementById('id_password').value;
        const email = document.getElementById('id_email').value;
        const data = {
            username,
            password,
            email
        };

        const jsonData = JSON.stringify(data);
        fetch('/req/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: jsonData
        })
        .then(response => {
            // Handling response

        })
    });
</script>

