<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome - 5estrellas</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/awesome6/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />

        <script src="http://localhost:8080/js/bootstrap.min.js"></script>
        <script src="http://localhost:8080/js/signup.js"></script>
    </head>
    <body>
        <h1>Welcome to...</h1>
        <img th:src="@{/images/cloud.jpg}" />

        <div style="margin-top:20px;">
            <a href="/map" class="btn btn-primary" style="margin-right:30px; margin-left:16px; width:180px; border:0px; border-radius:0px;">
                <i class="fa-solid fa-map-location-dot"></i> A mi mundo
            </a>
        </div>
    </body>
</html>

