<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nato: Mi mundo</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/div.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />
</head>
<body style="background-color:#e7e7e7;">
    <div class="container">

        <!-- Menu -->
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="border-bottom: 1px solid grey; margin: 4px 0 4px 0; padding:4px 0 8px 0;">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="logo/logo-11.png" title="Pacto 5 Estrellas" style="width:88px; margin-right:10px;" />
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/map" class="nav-link px-2 link-my-active">Mi mundo</a></li>
                <li><a href="/la-historia" class="nav-link px-2 link-dark">La historia</a></li>
                <li><a href="/info" class="nav-link px-2 link-dark">Información</a></li>
                <li><a href="/users" class="nav-link px-2 link-dark">Usuarios</a></li>
                <li><a href="/rating" class="nav-link px-2 link-dark">Rating</a></li>
                <li><a href="/settings" class="nav-link px-2 link-dark">Settings</a></li>
                <li><a href="/contact" class="nav-link px-2 link-dark">Contactos</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
            </form>
            <div class="dropdown text-end">
                <a href="/profile">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>

        <!-- Mi mundo -->
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <h1>Mi mundo</h1>
                <div>En este mundo tu puedes crear y añadir tus bases donde tu quieres y cuando quieras.</div>
                <br/><br/>
            </div>

            <!-- Space -->
            <div class="row">
                <div class="col-md-12" style="text-align:right:"><h4 th:text="${space.title} + ', Día: ' + ${space.getDias()}">Día: 1</h4></div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-8">
                    <div style="border: 4px solid #bfcc58; ">

                        <div class="row">
                            <div class="col-md-3" style="padding-left:30px;" th:text="'Agua: ' + ${space.resAgua} + '/+' + ${space.doResAgua}" >Agua: 10</div>
                            <div class="col-md-3" style="padding-left:30px;" th:text="'Plastic: ' + ${space.resPlastic} + '/+' + ${space.doResPlastic}" >Plastic: 10</div>
                            <div class="col-md-3" style="padding-left:30px;" th:text="'Food: ' + ${space.resFood} + '/+' + ${space.doResFood}" >Food: 10</div>
                            <div class="col-md-3" style="padding-left:30px;" th:text="'Iron: ' + ${space.resIron} + '/+' + ${space.doResIron}" >Iron: 10</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="border: 4px solid #bfcc58;"><marquee style="line-height:18px;">Tu necesita construir "IT CENTRO"</marquee></div>
                </div>

                <div class="col-md-8">
                    <div style="border: 4px solid #bfcc58; padding-left:20px; background-color:#bfcc58; width:280px;">RECURSOS DE LA COLONIA_</div>
                </div>
                <div class="col-md-4">
                    <div style="border: 4px solid #bfcc58; padding-left:20px; background-color:#bfcc58; width:150px;">LA PISTA_</div>
                </div>
            </div>


            <!-- Map -->
            <div class="col-md-12">
                <div class="centered" style="z-index: 10; background-image:url('images/fons/fon11.png'); background-color:#cccccc; box-sizing:content-box;">
                    <!--div style="position:relative;">
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;"></div>
                    </div-->

                    <th:block th:each="sector, iterStat : ${arrSectors}">
                        <div style="position:relative; z-index:11; width:170px; height:140px; float:left;">
                            <th:block th:if="${sector != null}">
                                <a th:href="@{/map/{i}/bases/{baseId}(i=${iterStat.index + 1}, baseId=${sector.baseLevel.base.id})}" >

                                    <!--  TODO: add Passport   -->
                                    <!--  TODO: add BaseLevel:img   -->

                                    <th:block th:if="${sector.buildStartedAt == null  ||  !sector.isBuildingNow(sector.baseLevel.buildSeconds)}">
                                        <!-- builded img -->
                                        <img th:src="'images/bases/' + ${sector.getBaseLevel().getImg()}" th:title="${sector.getBaseLevel().getTitle()}" />
                                    </th:block>

                                    <th:block th:if="${sector.buildStartedAt != null  &&  sector.isBuildingNow(sector.baseLevel.buildSeconds)}">
                                        <!-- building img -->
                                        <img src="images/bases/hierro_level_1.png" th:title="${sector.getBaseLevel().getTitle()}" />
                                        <!-- time -->
                                        <div th:id="'id_sector_' + (${iterStat.index} + 1)" th:data-seconds="${sector.secondsToFinish( sector.baseLevel.buildSeconds )}" style="position:absolute; z-index:11; top:30px; left:30px; width:100px; text-align:center; background-color:#e7e7e7; color:#000;">
                                            5 min 10 sec
                                        </div>
                                    </th:block>
                                </a>
                            </th:block>
                            <th:block th:if="${sector == null}">
                                <a th:href="@{/map/{i}/bases/(i=${iterStat.index + 1})}">
                                    <!--div style="width:170px; height:140px;" th:text="${iterStat.index + 1}">111</div-->
                                    <div style="width:170px; height:140px;"></div>
                                </a>
                            </th:block>
                        </div>
                    </th:block>
                </div>
                <div style="border: 4px solid #bfcc58; background-color:#bfcc58; padding-left:20px; width:240px;">MONITOR DE SISTEMA_</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- footer -->
                <footer class="py-5">
                    <div class="row">
                        <div class="col-6 col-md-2 mb-3">
                            <h5>Sobre nosotros</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="/la-historia" class="nav-link p-0 text-muted">La historia</a></li>
                                <li class="nav-item mb-2"><a href="/sobre-nosotros" class="nav-link p-0 text-muted">La empresa</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-md-2 mb-3">
                            <h5>Section</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-md-2 mb-3">
                            <h5>Section</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                            </ul>
                        </div>

                        <div class="col-md-5 offset-md-1 mb-3">
                            <form>
                                <h5>Suscríbete a nuestro boletín</h5>
                                <p>Resumen mensual de nuestras novedades y novedades más interesantes.</p>
                                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                    <label for="newsletter1" class="visually-hidden">Correo electronico</label>
                                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                    <button class="btn btn-primary" type="button">Suscribir</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                        <p>&copy; 2021 <a href="http://techmatrix18.com" target="_blank">TechMatrix18</a>, Inc. Todos los derechos reservados.</p>
                        <ul class="list-unstyled d-flex">
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>

<script>
    const timerElements = {};
    const seconds = {};

    for (let sector = 8; sector <= 28; sector++) {
        const el = document.getElementById("id_sector_" + sector);
        if (!el) continue;

        timerElements[sector] = el;
        seconds[sector] = parseInt(el.getAttribute("data-seconds"));

        function updateTimer(sectorId) {
            const sec = seconds[sectorId];
            const mins = Math.floor(sec / 60);
            const rem = sec % 60;

            timerElements[sectorId].innerText = `${mins} min ${rem.toString().padStart(2, '0')} sec`;

            if (sec > 0) {
                seconds[sectorId]--;
                setTimeout(() => updateTimer(sectorId), 1000);
            } else {
                // редирект при завершении таймера
                window.location.href = "/map";
            }
        }

        updateTimer(sector);
    }

    /*
    const timerElement = document.getElementById("id_sector_12");
    let seconds = parseInt(timerElement.getAttribute("data-seconds"));
    function formatTime(sec) {
        const minutes = Math.floor(sec / 60);
        const remaining = sec % 60;

        return `${minutes} min ${remaining.toString().padStart(2, '0')} sec`;
    }
    function updateTimer() {
        timerElement.innerText = formatTime(seconds);
        if (seconds > 0) {
            seconds--;
            setTimeout(updateTimer, 1000);
        } else {
            window.location.href = "/map";
        }
    }
    updateTimer();
    */
</script>

