<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nato: Mi mundo</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/awesome6/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/div.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />

    <style>
    body {
        background-color: #0f1b2d;
        margin: 0;
        padding: 0;
    }
    .viewport {
        width: 1190px;
        height: 560px;
        overflow: hidden;
        border: 3px solid #555;
        margin: 50px auto;
        position: relative;
        background-color: #120f2e; // #0d0d0d; black
    }
    .map {
        position: absolute;
        width: 2720px;
        height: 1400px;
        left: -850px; // -100px;
        top: 0px; // -100px;
        cursor: grab;
        transition: background 0.2s;
        background-image: url('images/fons/fon_36.png');
    }
    .tile {
        width: 170px;
        height: 140px;
        border: 1px dashed #808080;
        box-sizing: border-box;
        position: absolute;
    }
    .tile-red {
        width: 170px;
        height: 140px;
        //border: 1px dashed #00ff00;
        box-sizing: border-box;
        position: absolute;
    }
    .tile:hover {
        border: 1px dashed #00ff00; // #e7e7e7;
    }
    .tile-red:hover {
        border: 1px dashed #FA0707;
    }
  </style>
</head>
<body>
<div class="viewport">
    <div class="map" id="map">
        <!-- Генерация 170x140 плиток -->

        <!--div class="tile" style="left:0px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">0,0</div>
        <div class="tile" style="left:170px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">1,0</div>
        <div class="tile" style="left:340px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">2,0</div>
        <div class="tile" style="left:510px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">3,0</div>
        <div class="tile" style="left:680px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">4,0</div>
        <div class="tile" style="left:850px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">5,0</div>
        <div class="tile" style="left:1020px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">6,0</div>
        <div class="tile" style="left:1190px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">7,0</div>
        <div class="tile" style="left:1360px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">8,0</div>
        <div class="tile" style="left:1530px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">9,0</div>
        <div class="tile" style="left:1700px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">10,0</div>
        <div class="tile" style="left:1870px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">11,0</div>
        <div class="tile" style="left:2040px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">12,0</div>
        <div class="tile" style="left:2210px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">13,0</div>
        <div class="tile" style="left:2380px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">14,0</div>
        <div class="tile" style="left:2550px; top:0px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">15,0</div-->

        <!--div class="tile" style="left:0px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">0,1</div>
        <div class="tile" style="left:170px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">1,1</div>
        <div class="tile" style="left:340px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">2,1</div>
        <div class="tile" style="left:510px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">3,1</div>
        <div class="tile" style="left:680px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">4,1</div-->
        <div class="tile" style="left:850px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1020px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1190px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1360px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1530px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:1700px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">10,1</div-->
        <div class="tile-red" style="left:1870px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2040px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2210px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2380px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2550px; top:140px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>

        <div class="tile" style="left:0px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:170px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:340px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">2,2</div-->
        <div class="tile" style="left:510px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>

        <!-- 9 -->
        <th:block th:if="${arrSectors[8] != null}">
            <a th:href="@{/map/9/bases/{baseId}/{type}(baseId=${arrSectors[8].baseLevel.base.id}, type=${arrSectors[8].baseLevel.base.type})}" >
                <div class="tile" style="left:680px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">
                    <th:block th:if="${arrSectors[8].buildStartedAt == null  ||  !arrSectors[8].isBuildingNow(arrSectors[8].baseLevel.buildSeconds)}">
                        <!-- builded img -->
                        <img th:src="'/uploads/base-levels/' + ${arrSectors[8].baseLevel.img}" th:title="${arrSectors[8].baseLevel.title}" />
                    </th:block>
                    <th:block th:if="${arrSectors[8].buildStartedAt != null  &&  arrSectors[8].isBuildingNow(arrSectors[8].baseLevel.buildSeconds)}">
                        <!-- building img -->
                        <img src="/images/bases/building_now.png" th:title="${arrSectors[8].baseLevel.title}" />
                        <!-- time -->
                        <div id="id_sector_9"
                             th:data-seconds="${arrSectors[8].secondsToFinish(arrSectors[8].baseLevel.buildSeconds)}"
                             style="position:absolute; z-index:11; top:60px; left:30px; width:100px; line-height:20px; text-align:center; background-color:#e7e7e7; color:#000;">
                            5 min 10 sec
                        </div>
                    </th:block>
                </div>
            </a>
        </th:block>
        <!-- Пустая плитка -->
        <th:block th:if="${arrSectors[8] == null}">
            <a th:href="@{/map/9/bases/}">
                <div class="tile" style="left:680px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
            </a>
        </th:block>

        <!-- 10 -->
        <th:block th:if="${arrSectors[9] != null}">
            <a th:href="@{/map/10/bases/{baseId}/{type}(baseId=${arrSectors[9].baseLevel.base.id}, type=${arrSectors[9].baseLevel.base.type})}" >
                <div class="tile" style="left:850px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">
                    <th:block th:if="${arrSectors[9].buildStartedAt == null  ||  !arrSectors[9].isBuildingNow(arrSectors[9].baseLevel.buildSeconds)}">
                        <!-- builded img -->
                        <img th:src="'/uploads/base-levels/' + ${arrSectors[9].baseLevel.img}" th:title="${arrSectors[9].baseLevel.title}" />
                    </th:block>
                    <th:block th:if="${arrSectors[9].buildStartedAt != null  &&  arrSectors[9].isBuildingNow(arrSectors[9].baseLevel.buildSeconds)}">
                        <!-- building img -->
                        <img src="/images/bases/building_now.png" th:title="${arrSectors[9].baseLevel.title}" />
                        <!-- time -->
                        <div id="id_sector_10"
                            th:data-seconds="${arrSectors[9].secondsToFinish(arrSectors[9].baseLevel.buildSeconds)}"
                            style="position:absolute; z-index:11; top:60px; left:30px; width:100px; line-height:20px; text-align:center; background-color:#e7e7e7; color:#000;">
                                5 min 10 sec
                        </div>
                    </th:block>
                </div>
            </a>
        </th:block>
        <!-- Пустая плитка -->
        <th:block th:if="${arrSectors[9] == null}">
            <a th:href="@{/map/10/bases/}">
                <div class="tile" style="left:850px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
            </a>
        </th:block>

        <!-- 11 -->
        <th:block th:if="${arrSectors[10] != null}">
            <a th:href="@{/map/11/bases/{baseId}/{type}(baseId=${arrSectors[10].baseLevel.base.id}, type=${arrSectors[10].baseLevel.base.type})}" >
                <div class="tile" style="left:1020px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">
                    <th:block th:if="${arrSectors[10].buildStartedAt == null  ||  !arrSectors[10].isBuildingNow(arrSectors[10].baseLevel.buildSeconds)}">
                        <!-- builded img -->
                        <img th:src="'/uploads/base-levels/' + ${arrSectors[10].baseLevel.img}" th:title="${arrSectors[10].baseLevel.title}" />
                    </th:block>
                    <th:block th:if="${arrSectors[10].buildStartedAt != null  &&  arrSectors[10].isBuildingNow(arrSectors[10].baseLevel.buildSeconds)}">
                        <!-- building img -->
                        <img src="/images/bases/building_now.png" th:title="${arrSectors[10].baseLevel.title}" />
                        <!-- time -->
                        <div id="id_sector_11"
                            th:data-seconds="${arrSectors[10].secondsToFinish(arrSectors[10].baseLevel.buildSeconds)}"
                            style="position:absolute; z-index:11; top:60px; left:30px; width:100px; line-height:20px; text-align:center; background-color:#e7e7e7; color:#000;">
                                5 min 10 sec
                        </div>
                    </th:block>
                </div>
            </a>
        </th:block>
        <!-- Пустая плитка -->
        <th:block th:if="${arrSectors[10] == null}">
            <a th:href="@{/map/11/bases/}">
                <div class="tile" style="left:1020px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
            </a>
        </th:block>

        <div onclick="readText('capitan'); return false;" style="left:1190px; top:280px; width:170px; height:140px; box-sizing:border-box; position:absolute; line-height:140px;"></div>
        <div onclick="readText('text'); return false;" style="left:1360px; top:280px; width:170px; height:140px; box-sizing:border-box; position:absolute; line-height:140px;"></div>

        <div class="tile" style="left:1530px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1700px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:1870px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">11,2</div-->
        <div class="tile-red" style="left:2040px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2210px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2380px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2550px; top:280px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>

        <div class="tile" style="left:0px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:170px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:340px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:510px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:680px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:850px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1020px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1190px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1360px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1530px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1700px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1870px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:2040px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">12,3</div-->
        <div class="tile-red" style="left:2210px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2380px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2550px; top:420px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>

        <div class="tile" style="left:0px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:170px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">1,4</div-->
        <div class="tile" style="left:340px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:510px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:680px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:850px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1020px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1190px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1360px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1530px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1700px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1870px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:2040px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">12,4</div>
        <div class="tile" style="left:2210px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">13,4</div-->
        <div class="tile-red" style="left:2380px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile-red" style="left:2550px; top:560px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>

        <div class="tile" style="left:0px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:170px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">1,5</div-->
        <div class="tile" style="left:340px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:510px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:680px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:850px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">5,5</div-->
        <div class="tile" style="left:1020px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1190px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:1360px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">8,5</div-->
        <div class="tile" style="left:1530px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1700px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1870px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2040px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:2210px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">13,5</div>
        <div class="tile" style="left:2380px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">14,5</div>
        <div class="tile" style="left:2550px; top:700px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">15,5</div-->

        <div class="tile" style="left:0px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:170px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:340px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:510px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:680px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:850px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1020px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1190px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1360px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1530px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1700px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1870px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2040px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2210px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2380px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:140px;"></div>
        <!--div class="tile" style="left:2550px; top:840px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">15,6</div-->

        <div class="tile" style="left:0px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:170px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:340px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:510px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">3,7</div-->
        <div class="tile" style="left:680px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:850px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1020px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1190px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1360px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1530px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1700px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1870px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2040px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2210px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2380px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2550px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2550px; top:980px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>

        <div class="tile" style="left:0px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:170px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:340px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:510px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:680px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:850px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1020px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1190px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1360px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1530px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1700px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1870px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:2040px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">12,8</div-->
        <div class="tile" style="left:2210px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2380px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2550px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2550px; top:1120px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>

        <div class="tile" style="left:0px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:170px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:340px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:510px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <!--div class="tile" style="left:680px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;">4,9</div-->
        <div class="tile" style="left:850px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1020px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1190px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1360px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1530px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1700px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:1870px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2040px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2210px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2380px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2550px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
        <div class="tile" style="left:2550px; top:1260px; color:#aaa; font-size:10px; text-align:center; line-height:100px;"></div>
    </div>
</div>

<script>
    let map = document.getElementById('map');
    let isDragging = false;
    let startX, startY, startLeft, startTop;

    map.addEventListener('mousedown', (e) => {
        isDragging = true;
        startX = e.clientX;
        startY = e.clientY;

        const style = window.getComputedStyle(map);

        //alert(parseInt(style.left) + ' ' + parseInt(style.top));
        //alert(style.left + ' ' + style.top);
        startLeft = parseInt(style.left) || 0;
        startTop = parseInt(style.top) || 0;
        map.style.cursor = 'grabbing';
    });
    document.addEventListener('mousemove', (e) => {
        if (!isDragging) return;
        const dx = e.clientX - startX;
        const dy = e.clientY - startY;
        map.style.left = `${startLeft + dx}px`;
        map.style.top = `${startTop + dy}px`;
    });
    document.addEventListener('mouseup', () => {
        isDragging = false;
        map.style.cursor = 'grab';
    });

    // speech
    function readText(sector) {
        if (sector == 'capitan') {
            const msg = new SpeechSynthesisUtterance("Escucho, mi capitán! Estoy listo para cumplir nuestra misión! ¿Qué haremos?");
            msg.lang = "es"; //"es-ES";
            msg.rate = 0.75; // 76
            msg.pitch = 1.0;
            //alert(msg);
            window.speechSynthesis.speak(msg);
        } else {
            const msg = new SpeechSynthesisUtterance("Escucho, mi capitán! ¿Qué haremos?");
            msg.lang = "es"; //"es-ES";
            msg.rate = 0.75; // 76
            msg.pitch = 1.0;
            //alert(msg);
            window.speechSynthesis.speak(msg);
        }
    }

    // building
    const timerElements = {};
    const seconds = {};
    for (let sector = 8; sector <= 28; sector++) {
        const el = document.getElementById("id_sector_" + sector);
        if (!el) continue;
        timerElements[sector] = el;
        seconds[sector] = parseInt(el.getAttribute("data-seconds"));
        function updateTimer(sectorId) {
            const sec = seconds[sectorId];
            const mins = Math.floor(sec / 60);
            const rem = sec % 60;
            timerElements[sectorId].innerText = `${mins} min ${rem.toString().padStart(2, '0')} sec`;
            if (sec > 0) {
                seconds[sectorId]--;
                setTimeout(() => updateTimer(sectorId), 1000);
            } else {
                // редирект при завершении таймера
                window.location.href = "/map";
            }
        }
        updateTimer(sector);
    }
  </script>
</body>
</html>

